########################
## Files              ##
########################

------------------------
*.class
*.jar
*.mp3
------------------------
gradlew
gradlew.bat
------------------------

########################
## Folders            ##
########################

------------------------
.gradle/
.idea/
------------------------
build/
gradle/
------------------------
